#slidify-dialog .slide-intro {
    text-align: center;
    font-weight: bold;
}

#slidify-dialog .slide-panel {
    padding: 10px 30px;
}

#slidify-dialog h3 {
    font-size: 24px;
}

#slidify-dialog .slide-panel {
    overflow: hidden;
}

#slidify-dialog .slide-panel li {
    line-height: 2;
}

#slidify-dialog .dialog-button-panel {
    text-align: center;
}